--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg110+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: camera_admin
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO camera_admin;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: camera_admin
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO camera_admin;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: camera_admin
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO camera_admin;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: camera_admin
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: camera_agencies; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.camera_agencies (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    agency_type character varying(100),
    website text,
    email character varying(200),
    phone character varying(50),
    address text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.camera_agencies OWNER TO camera_admin;

--
-- Name: camera_agencies_id_seq; Type: SEQUENCE; Schema: public; Owner: camera_admin
--

CREATE SEQUENCE public.camera_agencies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.camera_agencies_id_seq OWNER TO camera_admin;

--
-- Name: camera_agencies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: camera_admin
--

ALTER SEQUENCE public.camera_agencies_id_seq OWNED BY public.camera_agencies.id;


--
-- Name: camera_audit_log; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.camera_audit_log (
    id integer NOT NULL,
    camera_id integer,
    action character varying(100),
    performed_by character varying(100),
    old_value jsonb,
    new_value jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.camera_audit_log OWNER TO camera_admin;

--
-- Name: camera_audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: camera_admin
--

CREATE SEQUENCE public.camera_audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.camera_audit_log_id_seq OWNER TO camera_admin;

--
-- Name: camera_audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: camera_admin
--

ALTER SEQUENCE public.camera_audit_log_id_seq OWNED BY public.camera_audit_log.id;


--
-- Name: camera_images; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.camera_images (
    id integer NOT NULL,
    camera_id integer NOT NULL,
    image_url text NOT NULL,
    image_type character varying(50),
    uploaded_by character varying(100),
    uploaded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.camera_images OWNER TO camera_admin;

--
-- Name: camera_images_id_seq; Type: SEQUENCE; Schema: public; Owner: camera_admin
--

CREATE SEQUENCE public.camera_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.camera_images_id_seq OWNER TO camera_admin;

--
-- Name: camera_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: camera_admin
--

ALTER SEQUENCE public.camera_images_id_seq OWNED BY public.camera_images.id;


--
-- Name: camera_import_staging; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.camera_import_staging (
    id bigint NOT NULL,
    source character varying(100) NOT NULL,
    source_id character varying(255),
    latitude double precision,
    longitude double precision,
    country character varying(100),
    state character varying(150),
    city character varying(150),
    road_name character varying(255),
    camera_type character varying(100),
    enforcement_type character varying(100),
    speed_limit integer,
    status character varying(50),
    verification_status character varying(50) DEFAULT 'pending'::character varying,
    source_url text,
    raw_data jsonb,
    imported_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_verified timestamp without time zone
);


ALTER TABLE public.camera_import_staging OWNER TO camera_admin;

--
-- Name: camera_import_staging_id_seq; Type: SEQUENCE; Schema: public; Owner: camera_admin
--

CREATE SEQUENCE public.camera_import_staging_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.camera_import_staging_id_seq OWNER TO camera_admin;

--
-- Name: camera_import_staging_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: camera_admin
--

ALTER SEQUENCE public.camera_import_staging_id_seq OWNED BY public.camera_import_staging.id;


--
-- Name: camera_reports; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.camera_reports (
    id integer NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    city character varying(100),
    state character varying(100),
    road_name character varying(255),
    camera_type character varying(100),
    reporter_name character varying(100),
    notes text,
    status character varying(30) DEFAULT 'Pending'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    image_path text
);


ALTER TABLE public.camera_reports OWNER TO camera_admin;

--
-- Name: camera_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: camera_admin
--

CREATE SEQUENCE public.camera_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.camera_reports_id_seq OWNER TO camera_admin;

--
-- Name: camera_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: camera_admin
--

ALTER SEQUENCE public.camera_reports_id_seq OWNED BY public.camera_reports.id;


--
-- Name: camera_verification_history; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.camera_verification_history (
    id integer NOT NULL,
    camera_id integer NOT NULL,
    old_status character varying(50),
    new_status character varying(50) NOT NULL,
    reason text,
    verified_by character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.camera_verification_history OWNER TO camera_admin;

--
-- Name: camera_verification_history_id_seq; Type: SEQUENCE; Schema: public; Owner: camera_admin
--

CREATE SEQUENCE public.camera_verification_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.camera_verification_history_id_seq OWNER TO camera_admin;

--
-- Name: camera_verification_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: camera_admin
--

ALTER SEQUENCE public.camera_verification_history_id_seq OWNED BY public.camera_verification_history.id;


--
-- Name: cameras; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.cameras (
    id integer NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    location public.geography(Point,4326) NOT NULL,
    country character varying(100) NOT NULL,
    city character varying(100),
    camera_type character varying(50) NOT NULL,
    speed_limit integer,
    status character varying(50) DEFAULT 'unknown'::character varying,
    verification_status character varying(50) DEFAULT 'pending'::character varying,
    source character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    state character varying(100),
    road_name character varying(255),
    enforcement_type character varying(100),
    source_url text,
    last_verified timestamp without time zone,
    reported_by character varying(100),
    image_url text,
    report_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    camera_uuid uuid DEFAULT gen_random_uuid(),
    road_direction character varying(50),
    travel_direction character varying(50),
    lane_number integer,
    installation_date date,
    operational_status character varying(30) DEFAULT 'active'::character varying,
    owning_agency character varying(200),
    district character varying(150),
    postal_code character varying(20),
    address text,
    confidence_score numeric(5,2),
    is_active boolean DEFAULT true,
    updated_by character varying(100),
    notes text,
    agency_id integer,
    location_confidence numeric(5,2)
);


ALTER TABLE public.cameras OWNER TO camera_admin;

--
-- Name: cameras_correction_backup_160_170_20260809; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.cameras_correction_backup_160_170_20260809 (
    id integer,
    latitude double precision,
    longitude double precision,
    location public.geography(Point,4326),
    country character varying(100),
    city character varying(100),
    camera_type character varying(50),
    speed_limit integer,
    status character varying(50),
    verification_status character varying(50),
    source character varying(255),
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    state character varying(100),
    road_name character varying(255),
    enforcement_type character varying(100),
    source_url text,
    last_verified timestamp without time zone,
    reported_by character varying(100),
    image_url text,
    report_date timestamp without time zone,
    camera_uuid uuid,
    road_direction character varying(50),
    travel_direction character varying(50),
    lane_number integer,
    installation_date date,
    operational_status character varying(30),
    owning_agency character varying(200),
    district character varying(150),
    postal_code character varying(20),
    address text,
    confidence_score numeric(5,2),
    is_active boolean,
    updated_by character varying(100),
    notes text,
    agency_id integer
);


ALTER TABLE public.cameras_correction_backup_160_170_20260809 OWNER TO camera_admin;

--
-- Name: cameras_correction_backup_20260809; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.cameras_correction_backup_20260809 (
    id integer,
    latitude double precision,
    longitude double precision,
    location public.geography(Point,4326),
    country character varying(100),
    city character varying(100),
    camera_type character varying(50),
    speed_limit integer,
    status character varying(50),
    verification_status character varying(50),
    source character varying(255),
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    state character varying(100),
    road_name character varying(255),
    enforcement_type character varying(100),
    source_url text,
    last_verified timestamp without time zone,
    reported_by character varying(100),
    image_url text,
    report_date timestamp without time zone,
    camera_uuid uuid,
    road_direction character varying(50),
    travel_direction character varying(50),
    lane_number integer,
    installation_date date,
    operational_status character varying(30),
    owning_agency character varying(200),
    district character varying(150),
    postal_code character varying(20),
    address text,
    confidence_score numeric(5,2),
    is_active boolean,
    updated_by character varying(100),
    notes text,
    agency_id integer
);


ALTER TABLE public.cameras_correction_backup_20260809 OWNER TO camera_admin;

--
-- Name: cameras_id_seq; Type: SEQUENCE; Schema: public; Owner: camera_admin
--

CREATE SEQUENCE public.cameras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cameras_id_seq OWNER TO camera_admin;

--
-- Name: cameras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: camera_admin
--

ALTER SEQUENCE public.cameras_id_seq OWNED BY public.cameras.id;


--
-- Name: data_sources; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.data_sources (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    source_type character varying(50) NOT NULL,
    file_path text,
    source_url text,
    status character varying(50) DEFAULT 'active'::character varying,
    enabled boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.data_sources OWNER TO camera_admin;

--
-- Name: data_sources_id_seq; Type: SEQUENCE; Schema: public; Owner: camera_admin
--

CREATE SEQUENCE public.data_sources_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_sources_id_seq OWNER TO camera_admin;

--
-- Name: data_sources_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: camera_admin
--

ALTER SEQUENCE public.data_sources_id_seq OWNED BY public.data_sources.id;


--
-- Name: india_camera_deployments; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.india_camera_deployments (
    id integer NOT NULL,
    country text DEFAULT 'India'::text NOT NULL,
    state text,
    district text,
    city text,
    road_name text,
    camera_type text,
    enforcement_type text,
    deployment_status text DEFAULT 'reported'::text,
    verification_status text DEFAULT 'reported'::text,
    confidence_score numeric(4,3),
    source text,
    source_url text,
    last_verified date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.india_camera_deployments OWNER TO camera_admin;

--
-- Name: india_camera_deployments_id_seq; Type: SEQUENCE; Schema: public; Owner: camera_admin
--

CREATE SEQUENCE public.india_camera_deployments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.india_camera_deployments_id_seq OWNER TO camera_admin;

--
-- Name: india_camera_deployments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: camera_admin
--

ALTER SEQUENCE public.india_camera_deployments_id_seq OWNED BY public.india_camera_deployments.id;


--
-- Name: india_camera_deployments_staging; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.india_camera_deployments_staging (
    id integer NOT NULL,
    country text,
    state text,
    district text,
    city text,
    road_name text,
    camera_type text,
    enforcement_type text,
    deployment_status text,
    verification_status text,
    confidence_score numeric,
    source text,
    source_url text,
    last_verified date,
    latitude double precision,
    longitude double precision,
    coordinate_status text DEFAULT 'pending'::text,
    coordinate_source text,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    coordinate_confidence numeric,
    CONSTRAINT coordinate_status_check CHECK ((coordinate_status = ANY (ARRAY['pending'::text, 'approximate'::text, 'verified'::text]))),
    CONSTRAINT valid_latitude_check CHECK (((latitude IS NULL) OR ((latitude >= ('-90'::integer)::double precision) AND (latitude <= (90)::double precision)))),
    CONSTRAINT valid_longitude_check CHECK (((longitude IS NULL) OR ((longitude >= ('-180'::integer)::double precision) AND (longitude <= (180)::double precision))))
);


ALTER TABLE public.india_camera_deployments_staging OWNER TO camera_admin;

--
-- Name: india_camera_sources; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.india_camera_sources (
    id integer NOT NULL,
    source_name text NOT NULL,
    source_type text,
    source_url text,
    description text,
    retrieved_on date DEFAULT CURRENT_DATE
);


ALTER TABLE public.india_camera_sources OWNER TO camera_admin;

--
-- Name: india_camera_sources_id_seq; Type: SEQUENCE; Schema: public; Owner: camera_admin
--

CREATE SEQUENCE public.india_camera_sources_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.india_camera_sources_id_seq OWNER TO camera_admin;

--
-- Name: india_camera_sources_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: camera_admin
--

ALTER SEQUENCE public.india_camera_sources_id_seq OWNED BY public.india_camera_sources.id;


--
-- Name: india_cameras; Type: VIEW; Schema: public; Owner: camera_admin
--

CREATE VIEW public.india_cameras AS
 SELECT id,
    country,
    state,
    district,
    city,
    road_name,
    camera_type,
    enforcement_type,
    latitude,
    longitude,
    status,
    verification_status,
    confidence_score,
    source,
    source_url,
    last_verified,
    created_at,
    updated_at
   FROM public.cameras
  WHERE ((country)::text = 'India'::text);


ALTER VIEW public.india_cameras OWNER TO camera_admin;

--
-- Name: pipeline_runs; Type: TABLE; Schema: public; Owner: camera_admin
--

CREATE TABLE public.pipeline_runs (
    id integer NOT NULL,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    completed_at timestamp without time zone,
    status character varying(20) NOT NULL,
    records_loaded integer DEFAULT 0,
    records_valid integer DEFAULT 0,
    duplicates_removed integer DEFAULT 0,
    unique_records integer DEFAULT 0,
    inserted_count integer DEFAULT 0,
    updated_count integer DEFAULT 0,
    unchanged_count integer DEFAULT 0,
    error_count integer DEFAULT 0,
    error_message text,
    inserted integer DEFAULT 0,
    updated integer DEFAULT 0,
    skipped integer DEFAULT 0,
    errors integer DEFAULT 0,
    total_records integer DEFAULT 0,
    source_id integer
);


ALTER TABLE public.pipeline_runs OWNER TO camera_admin;

--
-- Name: pipeline_runs_id_seq; Type: SEQUENCE; Schema: public; Owner: camera_admin
--

CREATE SEQUENCE public.pipeline_runs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pipeline_runs_id_seq OWNER TO camera_admin;

--
-- Name: pipeline_runs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: camera_admin
--

ALTER SEQUENCE public.pipeline_runs_id_seq OWNED BY public.pipeline_runs.id;


--
-- Name: camera_agencies id; Type: DEFAULT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_agencies ALTER COLUMN id SET DEFAULT nextval('public.camera_agencies_id_seq'::regclass);


--
-- Name: camera_audit_log id; Type: DEFAULT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_audit_log ALTER COLUMN id SET DEFAULT nextval('public.camera_audit_log_id_seq'::regclass);


--
-- Name: camera_images id; Type: DEFAULT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_images ALTER COLUMN id SET DEFAULT nextval('public.camera_images_id_seq'::regclass);


--
-- Name: camera_import_staging id; Type: DEFAULT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_import_staging ALTER COLUMN id SET DEFAULT nextval('public.camera_import_staging_id_seq'::regclass);


--
-- Name: camera_reports id; Type: DEFAULT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_reports ALTER COLUMN id SET DEFAULT nextval('public.camera_reports_id_seq'::regclass);


--
-- Name: camera_verification_history id; Type: DEFAULT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_verification_history ALTER COLUMN id SET DEFAULT nextval('public.camera_verification_history_id_seq'::regclass);


--
-- Name: cameras id; Type: DEFAULT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.cameras ALTER COLUMN id SET DEFAULT nextval('public.cameras_id_seq'::regclass);


--
-- Name: data_sources id; Type: DEFAULT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.data_sources ALTER COLUMN id SET DEFAULT nextval('public.data_sources_id_seq'::regclass);


--
-- Name: india_camera_deployments id; Type: DEFAULT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.india_camera_deployments ALTER COLUMN id SET DEFAULT nextval('public.india_camera_deployments_id_seq'::regclass);


--
-- Name: india_camera_sources id; Type: DEFAULT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.india_camera_sources ALTER COLUMN id SET DEFAULT nextval('public.india_camera_sources_id_seq'::regclass);


--
-- Name: pipeline_runs id; Type: DEFAULT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.pipeline_runs ALTER COLUMN id SET DEFAULT nextval('public.pipeline_runs_id_seq'::regclass);


--
-- Data for Name: camera_agencies; Type: TABLE DATA; Schema: public; Owner: camera_admin
--



--
-- Data for Name: camera_audit_log; Type: TABLE DATA; Schema: public; Owner: camera_admin
--

COPY public.camera_audit_log (id, camera_id, action, performed_by, old_value, new_value, created_at) FROM stdin;
\.


--
-- Data for Name: camera_images; Type: TABLE DATA; Schema: public; Owner: camera_admin
--

COPY public.camera_images (id, camera_id, image_url, image_type, uploaded_by, uploaded_at) FROM stdin;
\.


--
-- Data for Name: camera_import_staging; Type: TABLE DATA; Schema: public; Owner: camera_admin
--



--
-- Data for Name: camera_reports; Type: TABLE DATA; Schema: public; Owner: camera_admin
--



--
-- Data for Name: camera_verification_history; Type: TABLE DATA; Schema: public; Owner: camera_admin
--

COPY public.camera_verification_history (id, camera_id, old_status, new_status, reason, verified_by, created_at) FROM stdin;
1	15	verified	rejected	Testing Phase 15 audit history	admin	2026-08-04 17:39:54.136114
2	15	rejected	rejected	Testing audit history	admin	2026-08-04 17:42:30.989169
3	15	rejected	verified	Phase 16 bulk verification test	admin	2026-08-04 17:46:49.631311
4	16	pending	verified	Phase 16 bulk verification test	admin	2026-08-04 17:46:49.631311
\.


--
-- Data for Name: cameras; Type: TABLE DATA; Schema: public; Owner: camera_admin
--



--
-- Data for Name: cameras_correction_backup_160_170_20260809; Type: TABLE DATA; Schema: public; Owner: camera_admin
--



--
-- Data for Name: cameras_correction_backup_20260809; Type: TABLE DATA; Schema: public; Owner: camera_admin
--



--
-- Data for Name: data_sources; Type: TABLE DATA; Schema: public; Owner: camera_admin
--

COPY public.data_sources (id, name, source_type, file_path, source_url, status, enabled, created_at, updated_at) FROM stdin;
1	India Camera Dataset	csv	C:\\Users\\bs806\\OneDrive\\Desktop\\GlobalCameraMap\\data_pipeline\\india_cameras.csv	\N	active	t	2026-08-04 15:49:30.578719	2026-08-04 15:49:30.578719
2	External Traffic Authority	csv	C:\\Users\\bs806\\OneDrive\\Desktop\\GlobalCameraMap\\data_pipeline\\incoming\\external_cameras.csv	https://example.com	active	f	2026-08-04 15:49:30.578719	2026-08-04 15:49:30.578719
\.


--
-- Data for Name: india_camera_deployments; Type: TABLE DATA; Schema: public; Owner: camera_admin
--



--
-- Data for Name: india_camera_deployments_staging; Type: TABLE DATA; Schema: public; Owner: camera_admin
--



--
-- Data for Name: india_camera_sources; Type: TABLE DATA; Schema: public; Owner: camera_admin
--



--
-- Data for Name: pipeline_runs; Type: TABLE DATA; Schema: public; Owner: camera_admin
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: camera_admin
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: camera_admin
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: camera_admin
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: camera_admin
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: camera_admin
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: camera_admin
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: camera_admin
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: camera_agencies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: camera_admin
--

SELECT pg_catalog.setval('public.camera_agencies_id_seq', 8, true);


--
-- Name: camera_audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: camera_admin
--

SELECT pg_catalog.setval('public.camera_audit_log_id_seq', 1, false);


--
-- Name: camera_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: camera_admin
--

SELECT pg_catalog.setval('public.camera_images_id_seq', 1, false);


--
-- Name: camera_import_staging_id_seq; Type: SEQUENCE SET; Schema: public; Owner: camera_admin
--

SELECT pg_catalog.setval('public.camera_import_staging_id_seq', 80, true);


--
-- Name: camera_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: camera_admin
--

SELECT pg_catalog.setval('public.camera_reports_id_seq', 13, true);


--
-- Name: camera_verification_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: camera_admin
--

SELECT pg_catalog.setval('public.camera_verification_history_id_seq', 4, true);


--
-- Name: cameras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: camera_admin
--

SELECT pg_catalog.setval('public.cameras_id_seq', 199, true);


--
-- Name: data_sources_id_seq; Type: SEQUENCE SET; Schema: public; Owner: camera_admin
--

SELECT pg_catalog.setval('public.data_sources_id_seq', 2, true);


--
-- Name: india_camera_deployments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: camera_admin
--

SELECT pg_catalog.setval('public.india_camera_deployments_id_seq', 38, true);


--
-- Name: india_camera_sources_id_seq; Type: SEQUENCE SET; Schema: public; Owner: camera_admin
--

SELECT pg_catalog.setval('public.india_camera_sources_id_seq', 6, true);


--
-- Name: pipeline_runs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: camera_admin
--

SELECT pg_catalog.setval('public.pipeline_runs_id_seq', 20, true);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: camera_admin
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: camera_agencies camera_agencies_name_key; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_agencies
    ADD CONSTRAINT camera_agencies_name_key UNIQUE (name);


--
-- Name: camera_agencies camera_agencies_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_agencies
    ADD CONSTRAINT camera_agencies_pkey PRIMARY KEY (id);


--
-- Name: camera_audit_log camera_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_audit_log
    ADD CONSTRAINT camera_audit_log_pkey PRIMARY KEY (id);


--
-- Name: camera_images camera_images_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_images
    ADD CONSTRAINT camera_images_pkey PRIMARY KEY (id);


--
-- Name: camera_import_staging camera_import_staging_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_import_staging
    ADD CONSTRAINT camera_import_staging_pkey PRIMARY KEY (id);


--
-- Name: camera_reports camera_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_reports
    ADD CONSTRAINT camera_reports_pkey PRIMARY KEY (id);


--
-- Name: camera_verification_history camera_verification_history_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_verification_history
    ADD CONSTRAINT camera_verification_history_pkey PRIMARY KEY (id);


--
-- Name: cameras cameras_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.cameras
    ADD CONSTRAINT cameras_pkey PRIMARY KEY (id);


--
-- Name: data_sources data_sources_name_key; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.data_sources
    ADD CONSTRAINT data_sources_name_key UNIQUE (name);


--
-- Name: data_sources data_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.data_sources
    ADD CONSTRAINT data_sources_pkey PRIMARY KEY (id);


--
-- Name: india_camera_deployments india_camera_deployments_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.india_camera_deployments
    ADD CONSTRAINT india_camera_deployments_pkey PRIMARY KEY (id);


--
-- Name: india_camera_deployments_staging india_camera_deployments_staging_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.india_camera_deployments_staging
    ADD CONSTRAINT india_camera_deployments_staging_pkey PRIMARY KEY (id);


--
-- Name: india_camera_sources india_camera_sources_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.india_camera_sources
    ADD CONSTRAINT india_camera_sources_pkey PRIMARY KEY (id);


--
-- Name: pipeline_runs pipeline_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.pipeline_runs
    ADD CONSTRAINT pipeline_runs_pkey PRIMARY KEY (id);


--
-- Name: cameras_location_idx; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX cameras_location_idx ON public.cameras USING gist (location);


--
-- Name: cameras_unique_identity_idx; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE UNIQUE INDEX cameras_unique_identity_idx ON public.cameras USING btree (latitude, longitude, city, road_name, camera_type);


--
-- Name: idx_camera_active; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_camera_active ON public.cameras USING btree (is_active);


--
-- Name: idx_camera_agency; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_camera_agency ON public.cameras USING btree (owning_agency);


--
-- Name: idx_camera_audit; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_camera_audit ON public.camera_audit_log USING btree (camera_id);


--
-- Name: idx_camera_city; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_camera_city ON public.cameras USING btree (city);


--
-- Name: idx_camera_country; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_camera_country ON public.cameras USING btree (country);


--
-- Name: idx_camera_images_camera; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_camera_images_camera ON public.camera_images USING btree (camera_id);


--
-- Name: idx_camera_last_verified; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_camera_last_verified ON public.cameras USING btree (last_verified);


--
-- Name: idx_camera_state; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_camera_state ON public.cameras USING btree (state);


--
-- Name: idx_camera_status; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_camera_status ON public.cameras USING btree (verification_status);


--
-- Name: idx_camera_type; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_camera_type ON public.cameras USING btree (camera_type);


--
-- Name: idx_camera_verification_history_camera_id; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_camera_verification_history_camera_id ON public.camera_verification_history USING btree (camera_id);


--
-- Name: idx_cameras_camera_type; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_cameras_camera_type ON public.cameras USING btree (camera_type);


--
-- Name: idx_cameras_city; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_cameras_city ON public.cameras USING btree (city);


--
-- Name: idx_cameras_country; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_cameras_country ON public.cameras USING btree (country);


--
-- Name: idx_cameras_location; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_cameras_location ON public.cameras USING gist (location);


--
-- Name: idx_cameras_source; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_cameras_source ON public.cameras USING btree (source);


--
-- Name: idx_cameras_state; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_cameras_state ON public.cameras USING btree (state);


--
-- Name: idx_cameras_verification; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_cameras_verification ON public.cameras USING btree (verification_status);


--
-- Name: idx_india_deployments_city; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_india_deployments_city ON public.india_camera_deployments USING btree (city);


--
-- Name: idx_india_deployments_state; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_india_deployments_state ON public.india_camera_deployments USING btree (state);


--
-- Name: idx_india_deployments_type; Type: INDEX; Schema: public; Owner: camera_admin
--

CREATE INDEX idx_india_deployments_type ON public.india_camera_deployments USING btree (camera_type);


--
-- Name: camera_audit_log fk_audit_camera; Type: FK CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_audit_log
    ADD CONSTRAINT fk_audit_camera FOREIGN KEY (camera_id) REFERENCES public.cameras(id) ON DELETE CASCADE;


--
-- Name: cameras fk_camera_agency; Type: FK CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.cameras
    ADD CONSTRAINT fk_camera_agency FOREIGN KEY (agency_id) REFERENCES public.camera_agencies(id);


--
-- Name: camera_images fk_camera_image; Type: FK CONSTRAINT; Schema: public; Owner: camera_admin
--

ALTER TABLE ONLY public.camera_images
    ADD CONSTRAINT fk_camera_image FOREIGN KEY (camera_id) REFERENCES public.cameras(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

